{% extends 'base.html' %}

{% block head %}
    <header>
        <h1> <a href="/index.html">Quiz App </a></h1>
    </header>
{% endblock %}

{% block body %}

    <body>
        <main class="beschreibung">
                <div>
                    <h1> Quiz-App <br>Informatikprojekt 2</h1>
                    <blockquote>
                        <p>
                            Das Ziel unser Projekt ist es, eine Quiz-App zu entwickeln,
                            bei der Dozenten Fragen und Antworten bereitstellen, während Studenten an den Quizzen teilnehmen
                            und die Auswertung erhalten können.</p>
                        <p>
                            Das Projekt verwendet drei Hauptkomponenten: Datenbanken für die Verwaltung von Fragen und Antworten,
                            Python für die Implementierung der Methoden, und HTML für die visuelle Darstellung.</p>
                        <p>
                            Die App verfügt über folgende Funktionen:
                            <ul>
                                <li>Die Möglichkeit, Quizze zu erstellen</li>
                                <li>Eine Übersicht aller Quizze und deren Inhalt</li>
                                <li>Funktionen zum Bearbeiten und Löschen von Quizzen und Fragen</li>
                                <li>Die Möglichkeit, Quizze freizugeben und zu spielen.</li>
                            </ul>
                        </p>
                    </blockquote>
                    <div class="button-container">
                        <a href="/index.html" class="button"> Zur App</a>
                    </div>
                </div>
            </main>
            <footer>
                <h3>Quiz23, Projekt von:</h3>&nbsp;
                <p>
                    Amelie Schepping,
                    Damian Sporin,
                    Hanen Husen,
                    Hasan Kahraman,
                    Karina Kiriyak,
                    Nora Abdulaziz,
                    Salah Alhaji.
                </p>
            </footer>
    </body>
{% endblock %}